*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f0f2f5;
}
.Home{
    display: flex;
}
.Home .left{
    flex: 1;
    margin-top: 200px;
    margin-left: 170px;
}
.Home .left h1{
    color: #1877f2;
    font-family: Roboto;
    font-size: 60px;
}
.Home .left p{
    color: #1c1e21;
    font-family: Roboto;
    font-size: 25px;
    margin-top: 5px;
}
.Home .right{
    flex: 1;
    margin-top: 80px;
    margin-left: -50px;
}
.Home .right .form{
    background-color: #fff;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.Home .right .form form{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding-top: 15px;
}
.Home .right .form form .ip{
    width: 350px;
    padding-left: 15px;
    height: 50px;
    margin: 5px;
    border: 1px solid #545454;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 17px;
    color: #1c1e21;
}
.Home .right .form form .login{
    margin: 5px;
    width: 367px;
    height: 50px;
    margin-top: 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
}
.Home .right .form form .login:hover{
    background-color: #1858a7;
    font-size: 21px;
}
.Home .right .form form a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 15px;
    color: #1877f2;
    text-align: center;
    margin-top: 12px;
    margin-left: -100px;
}
.Home .right .form form a:hover{
    text-decoration: underline;
}
hr{
    width: 365px;
    margin: 15px 5px;
}
.Home .right .form .btn1{
    margin: 5px 5px 20px 5px;
    width: 180px;
    height: 50px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    margin-left: 112px;
}
.Home .right .form .btn1:hover{
    background-color: #217410;
}
.Home .right .page{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    font-family: Roboto;
    font-size: 15px;
}
.Home .right .page a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.Home .right .page p{
    color: #1c1e21;
    padding-left: 5px;
}
.Home .right .page a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .Home .left h1 {
        font-size: 90px;
    }
    .Home .left p {
        font-size: 12px;
        width: 350px;
    }
    .Home .right {
        margin-left: 50px;
    }
    .Home .right .form form .ip{
        width: 340px;
        height: 45px;
        font-size: 17px;
    }
    .Home .right .form form .login{
        width: 360px;
        height: 45px;
        font-size: 25px;
    }
    .Home .right .form form a{
        font-size: 17px;
        margin-left: 0px;
    }
    hr{
        width: 370px;
    }
    .Home .right .form .btn1{
        width: 200px;
        height: 55px;
        font-size: 20px;
        margin-left: 100px;
    }
    .Home .right .page{
        font-size: 15px;
    }
    .Home .right .page p{
        color: #1c1e21;
        padding-left: 5px;
    }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
    .Home{
        display: flex;
        flex-direction: column;
    }
    .Home .left{
        flex: 1;
        margin: 50px 50px 20px 50px;
        /* margin-left: 50px; */
    }
    .Home .left p{
        font-size: 20px;
    }
    .Home .right{
        flex: 1;
        margin-left: 40px;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 30px;
    }
    .Home .right .form{
        width: 310px;
    }
    .Home .right .form form .ip{
        width: 250px;
    }
    .Home .right .form form .login{
        width: 250px;
    }
    .Home .right .form form a{
        margin-left: 0px;
    }
    hr{
        width: 300px;
    }
    .Home .right .form .btn1{
        width: 140px;
        height: 40px;
        font-size: 13px;
        margin-left: 80px;
    }
    .Home .right .page{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 13px;
    }

}